{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<body>
    {% include 'shop/header.html' %}
    <div class="wrapper fixed__footer">
        
        <div class="body__overlay"></div>
        
        <!-- Start Checkout Area -->
        <section class="our-checkout-area ptb--120 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8">
                        <div class="ckeckout-left-sidebar">
                            <!-- Start Checkbox Area -->
                            <div class="checkout-form">
                                <h2 class="section-title-3">Billing details</h2>
                                <div class="checkout-form-inner">
                                        <form action="{% url 'order:order' %}" method="POST">
                                            {% csrf_token %}                                          
                                            {{form}}
                                            <input type="submit" value="order">
                                        </form>                                    
                                </div>
                            </div>
                            
                           

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="checkout-right-sidebar">
                            <div class="our-important-note">
                                <h2 class="section-title-3">Cart Details</h2>
                                <div class="checkout-form-inner"></div>
                                <table>
                                    <thead>
                                        <tr>
                                            
                                            <th class="product-name">Product   </th>
                                            <th class="product-price">Price      </th>
                                            
                                            
                                            
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in cart %}
                                            <tr>
                                                
                                                <td class="product-name"><a href="#">{{item.name}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</a></td>
                                                <td class="product-price"><span class="amount">{{item.total_price}}</span></td>
                                               
                                                    
                                                                                                               
                                                    </form>
                                                </td>
                                                
                                                
                                            </tr> 
                                        {% endfor %}   
                                                                                                                  
                                    </tbody>
                                  
                                </table>
                                </div>
                                <h2>Total Price : {{cart.total_price}}</h2> 
                                <p class="note-desc">{{product.de}}.</p>
                               
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </body>

{% endblock %}