<h1>Здравствуйте, {{order.user.username!}}</h1>

<h3> Ваш заказ {{order.id}} оформлен {{order.created_at}}</h3>

<table>
    <thead>
        <tr>
            <th>Товар</th>
            <th>Колличество</th>
            <th>Стоимость</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.items %}
            <tr>
                <th>{{item.product.name}}</th>
                <th>{{item.quantity}}</th>
                <th>{{item.get_cost}}</th>
            </tr>
        {% endif %}

    </tbody>
</table>