{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<body>
{% include 'shop/header.html'%}
<div class="jumbotron text-center" style='background-color:yellow'>
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
    <hr>
    <p>
      Having trouble? <a href="">Contact us</a>
    </p>
    <p class="lead" style='background-color: rgb(55, 0, 255)'>
      <a class="btn btn-primary btn-sm" href="{% url 'shop:product_list'%}" role="button">Continue Shopping</a>
    </p></div>
</body>

{% include 'shop/footer.html' %}

{% endblock %}