{% extends 'shop/base.html' %}
{% load static %}


{% block content %}
{% include 'shop/header.html' %}
<body>
   
    <!-- Body main wrapper start -->
    <div class="wrapper fixed__footer">
                
        <!-- Start Login order Area -->
        <div class="htc__login__order bg__white ptb--130" style="background: rgba(0, 0, 0, 0) url(images/bg/5.jpg) no-repeat scroll center center / cover ;">
            <div class="container">
                
                <!-- Start Login order Content -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="htc__login__order__wrap">
                            
                            <ul class="login__order__menu" role="tablist">                            
                                <li role="presentation" class="order"><a  role="tab" data-toggle="tab">Register</a></li>
                            </ul>        

                            <div id="order" >                                
                                <form action="{% url 'order:order' %}" class="login" method="post">
                                    {{form.as_p}}
                                    {% csrf_token %}
                                    
                                    <input type="submit" href='{% url "order:order_created" %}' value="Save Order">
                                </form>

                               
                                <div class="htc__social__connect">
                                    <h2>Or Login With "вставить ссылку на лоигн"</h2>
                                </div>
                            </div>
                            <!-- End Single Content -->
                        </div>
                    </div>
                </div>
                <!-- End Login order Content -->
            </div>
        </div>
        <!-- End Login order Area -->


    </div>
    {% include 'shop/footer.html' %}
</body>


{% endblock %}