{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<body>
    {% include 'shop/header.html' %}
    <!-- Body main wrapper start -->
    <div class="wrapper fixed__footer">
                
        <!-- Start Login Register Area -->
        <div class="htc__login__register bg__white ptb--130" style="background: rgba(0, 0, 0, 0) url(images/bg/5.jpg) no-repeat scroll center center / cover ;">
            <div class="container">
                
                <!-- Start Login Register Content -->
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="htc__login__register__wrap">
                            
                            <ul class="login__register__menu" role="tablist">                            
                                <li role="presentation" class="register"><a  role="tab" data-toggle="tab">Login</a></li>
                            </ul>        

                            <div id="login" >                                
                                <form class="login" method="post" action="{% url 'account:user_login' %}">
                                    {% csrf_token %}
                                    {{login_form.as_p}}
                                    <input type="submit" href="{% url 'shop:product_list' %}" value="Log in">
                                </form>

                                <div class="htc__login__btn">
                                    <a href="#">login</a>
                                </div>
                                <div class="htc__social__connect">
                                    <h2>Or Login With </h2>
                                    <ul class="htc__soaial__list">
                                        <li><a class="bg--twitter" href="#"><i class="zmdi zmdi-twitter"></i></a></li>

                                        <li><a class="bg--instagram" href="#"><i class="zmdi zmdi-instagram"></i></a></li>

                                        <li><a class="bg--facebook" href="#"><i class="zmdi zmdi-facebook"></i></a></li>

                                        <li><a class="bg--googleplus" href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                                    </ul>
                                </div>
                                </div>
                            </div>
                            <!-- End Single Content -->
                        </div>
                    </div>
                </div>
                <!-- End Login Register Content -->
            </div>
        </div>
        <!-- End Login Register Area -->


    </div>
    {% include 'shop/footer.html' %}
</body>

{% endblock %}