{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
    {% include 'shop/header.html' %}

    <div class="container">  
        <div class="row">
            <div class="col-md-3">
                <div class="profile-nav">
                    <a class="tablinks" id="my-profile" onclick="openTab(event,'1')">Мой профиль</a>
                    <a class="tablinks" id="my-orders" onclick="openTab(event,'2')">Мои заказы</a>
                    <a class="tablinks" id="my-wishlist" onclick="openTab(event,'3')">Мой wishlist</a>
                </div>
            </div>
            
            <div class="col-md-9">
                <div class="tab-info" id="tab-1">            
                    test1
                </div>
                
                <div class="tab-info" id="tab-2" style="display: none;"> 
                    test2           
                </div>

                <div class="tab-info" id="tab-3" style="display: none;">   
                    test3         
                </div>
            </div>
        </div>      
    </div>


<script>
        function openTab(evt, id) {
        // Declare all variables
        var i, tabcontent, tablinks;
    
        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tab-info");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
    
        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
    
        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById("tab-" + id).style.display = "block";
        evt.currentTarget.className += " active";
        };
    
        $("#id_old_password").attr("placeholder", "Старый пароль");
        $("#id_new_password1").attr("placeholder", "Новый пароль");
        $("#id_new_password2").attr("placeholder", "Подтвердить новый пароль");
</script>

{% endblock %}