{% load static %}

<header id="header" class="htc-header header--3 bg__white">
    <!-- Start Mainmenu Area -->
    <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
                    <div class="logo">
                        <a href="index.html">
                            <img src="{% static 'images/logo/logo.png' %}" alt="logo">
                        </a>
                    </div>
                </div>
                <!-- Start MAinmenu Ares -->
                <div class="col-md-8 col-lg-8 col-sm-6 col-xs-6">
                    <nav class="mainmenu__nav hidden-xs hidden-sm">
                        <ul class="main__menu">
                            <li class="drop"><a href="index.html">Home</a></li>
                            <li class="drop"><a href="portfolio-card-box-2.html">portfolio</a>
                                <ul class="dropdown">
                                    <li><a href="portfolio-card-box-2.html">portfolio</a></li>
                                    <li><a href="single-portfolio.html">Single portfolio</a></li>
                                </ul>
                            </li>
                            <li class="drop"><a href="blog.html">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog.html">blog 3 column</a></li>
                                    <li><a href="blog-details.html">Blog details</a></li>
                                </ul>
                            </li>
                            <li class="drop"><a href="{% url 'shop:product_list' %}">Shop</a>
                            </li>
                            <li class="drop"><a href="#">pages</a>
                                <ul class="dropdown">                                                                                                                                         
                                    <li><a href="{% url 'cart:cart_detail' %}">cart</a></li>
                                    <li><a href="wishlist.html">wishlist</a></li>
                                    <li><a href="checkout.html">checkout</a></li>
                                    <li><a href="team.html">team</a></li>                                    
                                </ul>
                            </li>
                            <li><a href="contact.html">contact</a></li>
                        </ul>
                    </nav>
                    

                    <div class="mobile-menu clearfix visible-xs visible-sm">
                        <nav id="mobile_dropdown">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="#">portfolio</a>
                                    <ul>
                                        <li><a href="portfolio-card-box-2.html">portfolio</a></li>
                                        <li><a href="single-portfolio.html">Single portfolio</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">blog</a>
                                    <ul>
                                        <li><a href="blog.html">blog 3 column</a></li>
                                        <li><a href="blog-details.html">Blog details</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">pages</a>
                                    <ul>
                                        <li><a href="about.html">about</a></li>                                        
                                        <li><a href="shop.html">shop</a></li>                                                                          
                                        <li><a href="{% url 'cart:cart_detail' %}">cart</a></li>
                                        <li><a href="wishlist.html">wishlist</a></li>
                                        <li><a href="checkout.html">checkout</a></li>
                                        <li><a href="team.html">team</a></li>
                                        <li><a href="login-register.html">login & register</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">contact</a></li>
                            </ul>
                        </nav>
                    </div>                         
                </div>
                <!-- End MAinmenu Ares -->
                <div class="col-md-2 col-sm-4 col-xs-3">  
                    <ul class="menu-extra">
                        <li class="search search__open hidden-xs"><span class="ti-search"></span></li>
                        <li><a href="{% url 'cart:cart_detail' %}"><span class="ti-user"></span></a></li>


                        <li class="cart__menu"><span class="ti-shopping-cart">
                            {{cart|length}} item{{cart|pluralize:",s"}}
                        </span></li>
                    </ul>
                </div>
            </div>
            <div class="mobile-menu-area">                
            </div>
        </div>
    </div>
    <!-- End Mainmenu Area -->
</header>